{% block navigation %}
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Start Bootstrap</a>
            <div class="dropdown" style="margin-left: 100px;">
                <button type="button" class="btn" data-toggle="dropdown">
                    Dropdown button
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">
                    Dropdown button
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">
                    Dropdown button
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">
                    Dropdown button
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
            {% if user.usr_idx %}
            <a style="margin-left:auto; margin-right:5px; float: right;" class="btn btn-primary" href="/main/mypage">My page</a>
            <a style="float: right;" class="btn btn-primary" href="/main/logout">Log out</a>
            {% else %}
            <a style="margin-left:auto; margin-right:5px; float: right;" class="btn btn-primary" href="/main/login">Log in</a>
            <a style="float: right;" class="btn btn-primary" href="/main/signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}