<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../../layout/head.html" %}
</head>
<body>
    <div class="container">
        <h2>{{ boardConfig.boc_name }}</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
                {% for item in boardData %}
                <tr>
                    <td>{{ item.bod_usr_name }}</td>
                    <td>{{ item.bod_title }}</td>
                    <td>{{ itme.bod_created_at }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">작성된 글이 없습니다.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="float: right;">
            <a class="btn btn-success" href="">글 작성</a>
        </div>
        
    </div>
</body>
</html>